{% extends "base.html.twig" %}

{% use "_blocks.html.twig" %}

{% block title %}{{ concello|default }} | {{ parent() }}{% endblock %}

{% block body %}
    <section class="section">
        <div class="box">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title is-1">{{ concello|default }}</h1>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item buttons are-small">
                        <a href="/data/{{ concello }}.csv" target="_blank" class="button is-success">Descargar CSV</a>
                        <a href="/data/{{ concello }}.json" target="_blank" class="button is-info">Descargar JSON</a>
                    </div>
                </div>
            </div>
            <div class="toolbar">
                <div class="toolbar-item">
                    <small>Opcións da gráfica</small>
                </div>
                <div class="toolbar-item">
                    <label class="is-size-7" title="Amosar Incidencia Acumulada">
                        <div class="switch is-small">
                            <input id="ia" type="checkbox">
                            <span class="slider round"></span>
                        </div>
                        IA
                    </label>
                    <label class="is-size-7" title="Multiplicar por 2 a serie de positivos a 7 días">
                        <div class="switch is-small">
                            <input id="7dx2" type="checkbox">
                            <span class="slider round"></span>
                        </div>
                        7 días × 2
                    </label>
                </div>
            </div>
            <div id="casos" style="width:800; height:500px;"></div>
        </div>
    </section>
    <section class="section">
        <h2 class="title is-2">Concellos</h2>

        {{ block('concellos') }}
    </section>
    <script>
        window.concello = '{{ concello }}';
    </script>
{% endblock %}